{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

    <h1>All pictures on the S3 bucket : to-do-list-cloud-images</h1>

    {% for foo in bucket %}
        <br>
        <h2>{{ foo.Key }}</h2>
        <br>
        <a href="http://15.236.202.213:8000/display/{{ foo.Key }}"><img class="center"
         src="https://to-do-list-cloud-images.s3.eu-west-3.amazonaws.com/{{ foo.Key }}"
         alt="{{ foo.Key }}"></a>
    {% endfor %}

{% endblock %}